@import "reset.css";

body {
    font-family: Arial, sans-serif, cursive;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color:#b2bec3;
    padding: 20px;
}

canvas {
    border: 2px solid #dfe6e9;
    background-color: white;
    cursor: crosshair;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    gap: 20px;
}

.color-options {
    display: flex;
    justify-content: flex-start;
    gap: 2px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.color-option {
    width: 30px;
    height: 30px;
    border: 0.1px solid #dfe6e9;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.color-option:hover {
    transform: scale(1.1);
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#line-width {
    width: 100%;
}

button, label {
    all: unset;
    background-color: #636e72;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.1s ease;
}

button:hover {
    opacity: 0.85;
}

.text {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.text-rows {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

input#text {
    padding: 10px 0px;
    text-align: center;
    background-color:white;
    font-weight: 500;
    border-radius: 3px;
    margin-bottom: 10px;
}

#font-family {
    padding: 5px;
}

#font-size {
    width: 60px;
    padding: 5px;
}

input#file {
    display: none;
}

#save-btn {
    background-color: #0984e3;
}
